.TextileEditorField textarea {
	border: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 8px;
}
.right form .TextileEditorField textarea {
	border: none;
	font-size: 12px;
	padding: 8px;
}

/* -------------------------------------------------------------------
// markItUp! Universal MarkUp Engine, JQuery plugin
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp * {
	margin:0px; padding:0px;
	outline:none;
}
.markItUp a:link,
.markItUp a:visited {
	color:#000;
	text-decoration:none;
}
.markItUpContainer  {
	font-size:11px;
	border: 1px solid #CCC;
	background: #E9E9E9;
}
.markItUpHeader:before, .markItUpHeader:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.markItUpHeader:after { clear: both; }
.markItUpHeader { zoom: 1; }
.markItUpHeader {
	background: #FBFBFB url(/cms/images/textures/mce_editor.gif) top left repeat-x;
	border-bottom: 1px solid #CCC;
	padding: 3px;
}
.markItUpEditor {
	padding:5px;
	width:690px;
	height:320px;
	clear:both; display:block;
	line-height:18px;
	overflow:auto;
}
.markItUpPreviewFrame	{
	overflow:auto;
	background-color:#FFFFFF;
	width:99.9%;
	height:350px;
	margin:5px 0;
}
.markItUpFooter {
	width:100%;
}
.markItUpResizeHandle {
	overflow:hidden;
	width:22px; height:5px;
	margin-left:auto;
	margin-right:auto;
	background-image:url(../images/icons/handle.png);
	cursor:n-resize;
}
/***************************************************************************************/
/* first row of buttons */
.markItUpHeader ul li	{
	list-style:none;
	float:left;
	position:relative;
}
.markItUpHeader ul li:hover > ul{
	display:block;
}
.markItUpHeader ul .markItUpDropMenu {
	background:transparent url(../images/icons/menu.png) no-repeat 115% 50%;
	margin-right:5px;
}
.markItUpHeader ul .markItUpDropMenu li {
	margin-right:0px;
}
/* next rows of buttons */
.markItUpHeader ul ul {
	display:none;
	position:absolute;
	top:18px; left:0px;	
	background:#FFF;
	border:1px solid #000;
}
.markItUpHeader ul ul li {
	float:none;
	border-bottom:1px solid #000;
}
.markItUpHeader ul ul .markItUpDropMenu {
	background:#FFF url(../images/icons/submenu.png) no-repeat 100% 50%;
}
.markItUpHeader ul .markItUpSeparator {
	margin: 4px 10px 0;
	width:1px;
	height:16px;
	overflow:hidden;
	background-color:#CCC;
}
.markItUpHeader ul ul .markItUpSeparator {
	width:auto; height:1px;
	margin:0px;
}
/* next rows of buttons */
.markItUpHeader ul ul ul {
	position:absolute;
	top:-1px; left:150px; 
}
.markItUpHeader ul ul ul li {
	float:none;
}
.markItUpHeader ul a {
	display:block;
	width:16px; height:16px;
	text-indent:-10000px;
	background-repeat:no-repeat;
	padding:3px;
	margin:0px;
	background-position: center;
	border: 1px solid transparent;
}
.markItUpHeader ul a:hover {
	border: 1px solid #0A246A;
	background-color: #B2BBD0;
}
.markItUpHeader ul ul a {
	display:block;
	padding-left:0px;
	text-indent:0;
	width:120px; 
	padding:5px 5px 5px 25px;
	background-position:2px 50%;
}
.markItUpHeader ul ul a:hover  {
	color:#FFF;
	background-color:#000;
}

/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp .markitup-button-heading-1 a {
	background-image:url(../images/icons/h1.png); 
}
.markItUp .markitup-button-heading-2 a {
	background-image:url(../images/icons/h2.png); 
}
.markItUp .markitup-button-heading-3 a {
	background-image:url(../images/icons/h3.png); 
}
.markItUp .markitup-button-heading-4 a {
	background-image:url(../images/icons/h4.png); 
}
.markItUp .markitup-button-heading-5 a {
	background-image:url(../images/icons/h5.png); 
}
.markItUp .markitup-button-heading-6 a {
	background-image:url(../images/icons/h6.png); 
}
.markItUp .markitup-button-bold a {
	background-image:url(../images/icons/bold.png);
}
.markItUp .markitup-button-italic a {
	background-image:url(../images/icons/italic.png);
}
.markItUp .markitup-button-list-bullet a {
	background-image:url(../images/icons/list-bullet.png);
}
.markItUp .markitup-button-list-numeric a {
	background-image:url(../images/icons/list-numeric.png);
}
.markItUp .markitup-button-link a {
	background-image:url(../images/icons/link.png);
}
.markItUp .markitup-button-quotes a {
	background-image:url(../images/icons/quotes.png);
}